form{
  display:flex;
  flex-direction: column;
  width:100%;
  margin-left: 25%;
  margin-right: 50%;
  color:rgb(0, 0, 0);
  
}

body{
  font-family: "Afacad Flux", sans-serif;
  font-weight: 500px;
}

label{
  margin-bottom: 6px;
  width:45%;
}

h2{
  text-align: center;
}

.submit-button{
  margin-top: 10px;
}

.modal{
  border: 1px solid;
  border-radius: 8px;
  width: 50%;
  opacity: 0;
  margin: 0 auto;
  position: fixed;
  top:20%;
  bottom: 10%;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  background-color:#fff;
  
}

.modal.open{
  opacity: 1;
  z-index: 99999;
}

.close-button{
  text-align: right;
  margin: 3px 8px 0 0;
}

.close-button-image{
  width: 30px;
  cursor: pointer;
}

input{
  border-radius: 8px;
  padding: 8px 8px;
  width: 45%;
  margin-bottom: 15px;
  background-color: #eee;
  border: none;
}

.submit-button{
  border-radius: 8px;
  margin-top: 30px;
  width: 25%;
  margin-left: 11%;
  background-color:  #872341;
  border: none;
  color:white;
  cursor: pointer;
}